@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;500;600;700;800&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;   
}
a{
    text-decoration: none;
    color: white;
}

.header{
    position: relative;
   background: url("../img/bg.jpg");
   min-height: 60vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
   
}
.container{
    max-width: 1200px;
    margin: auto;
    width: 90%;
}
.nav{
    display: flex;
    justify-content: space-between;
    min-height: 12vh;
    align-items: center;
}
.nav-items{
    width: 40%;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}
.headlines{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.btn{
    display: inline-block;
    outline: none;
    border: none;
    cursor: pointer;
}
.btn-headlines{
    margin-top: 1rem;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    font-weight: 800;
    border-radius: 12px;
}
.todo-section{
    margin-top: 5rem;
    text-align: center;
  
}


.form-todo{
 
    height: 5vh;
    display: flex;
justify-content: space-between;

}
.form-todo input{
    margin-top: 2rem;
    min-height: 100%;
}
.form-todo input[type = "text"]{
width: 65%;
padding: 0.8rem;
font-size: 1rem;
font-weight: 600;
}
.form-todo input[type = "submit"]{
    width: 25%;
    background: #000119;
    color: aliceblue;
    font-weight: 800;
    }

    .todo-list{
        margin-top: 3rem;
        text-align: left;
        font-size: 1.2rem;
        list-style-type: none;
    }
    .todo-list li{
        padding: 0.7rem;
        background-color: #444;
        color: cyan;
        margin: 1rem;
        text-transform: capitalize;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .todo-btn{
      padding: 0.5rem;
      font-size: 1rem;
      font-weight: bold;
      cursor: pointer;

    }
    .signup{
        margin: 5rem auto;
        text-align: center;
        background-color: rgb(195, 214, 214);
        border-radius: 2rem;
        padding: 1rem;
    }
    .signupform{
        max-width: 800px;
        width: 90%;
        margin: auto;
        text-align: left;
    }
    .signupform label{
        display: block;
    }
    .signupform input{
        display: block;
        width: 100%;
        padding: 1rem;
    }
    .form-group{
        margin-top: 1rem;
    }
    .signupform textarea{
        width: 100%;
    }
    .btn-signup{
        display: block;
        margin: auto;
        background: #000119;
        padding: 1rem 2rem;
        color: white;
        margin-top: 2rem;
    }